* {margin: 0; padding: 0; vertical-align: center; box-sizing: border-box;}
html, body {width: 100%; height: 100%;}
body {font: normal 14/1 #111 'Gothic A1','Noto Sans KR'; background: #fff;}

a {font-size: inherit; text-decoration: none; color: #111;}
ul, ol, li {list-style: none;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: normal;}

b, strong {font-weight: normal;}
em, i, address {font-style: normal;}

header, main, footer, section, nav, aside, article {display: block;}

.blind {
  line-height: -5000px; overflow: hidden;
}

button {appearance:none; border: none; background: none;}